# Rust
/target

# OS
Thumbs.db
.DS_Store

# Claude
.claude

# Codex
.agents
AGENTS.md

# Zed
.zed

# Keys/Creds
*.pem
*.key

# Personal - Notes, Docs, Examples, Testing, etc.
notes/
docs/distribution/
docs/tasks/
