[workspace]
root = "/Users/mr.wolf/loadingalias/cargo-rail"

[security]
require_signed_commits = false
pr_branch_pattern = "rail/sync/{crate}/{timestamp}"
protected_branches = [
    "main",
    "master",
]

[[splits]]
name = "cargo-rail"
remote = "../test-crate-a-split"
branch = "main"
mode = "single"
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/cargo-rail"

[[splits]]
name = "test-crate-a"
remote = "../test-crate-a-split"
branch = "main"
mode = "single"
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/test-crate-a"

[[splits]]
name = "test-crate-b"
remote = "../test-crate-a-split"
branch = "main"
mode = "single"
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/test-crate-b"
