[workspace]
root = "/Users/mr.wolf/loadingalias/cargo-rail"

[security]
require_signed_commits = true
pr_branch_pattern = "rail/sync/{crate}/{timestamp}"
protected_branches = [
    "main",
    "master",
]

[[splits]]
name = "test-crate-a"
remote = "git@github.com:loadingalias/cargo-rail-test-core.git"
branch = "main"
mode = "single"
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/test-crate-a"

[[splits]]
name = "test-crate-b"
remote = "git@github.com:loadingalias/cargo-rail-test-client.git"
branch = "main"
mode = "single"
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/test-crate-b"

[[splits]]
name = "test-combined"
remote = "git@github.com:loadingalias/cargo-rail-test-combined.git"
branch = "main"
mode = "combined"
workspace_mode = "workspace" # "workspace" (mirror monorepo) or "standalone" (independent crates)
include = [
    "src/**",
    "tests/**",
    "examples/**",
    "benches/**",
    "Cargo.toml",
]
exclude = []

[[splits.paths]]
crate = "crates/test-crate-a"

[[splits.paths]]
crate = "crates/test-crate-b"
