[package]
name = "test-crate-a"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
test-crate-b = { workspace = true }
